.eim-wrapper {
    position: relative;
    display: inline-grid;
    max-width: 100%;
}
.eim-wrapper img {
    grid-area: 1 / 1;
}
.eim-wrapper svg {
    grid-area: 1 / 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
}
